.headermenu {
    float: right;
    }

.top {
    padding-left: 50px;
    padding-right: 50px;
    float: left;
    background: #4aaaa5;
    color: white;
    font-family: 'Georgia', Times, 'Times New Roman', serif;
    
    
}



h2 {
    color:#4aaaa5;
    font-family: 'Georgia', Times, 'Times New Roman', serif;
}

.whitebox {
    background: white;
    clear: both;
    padding: 40px;
    height:900px;
    margin: 40px;
    width: 960px;
    border-color: #777777;

}

.name {
    float: left;
    background: #4aaaa5;
}
body{
    color: #777777;
    font-family:'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    
}


.middle{
    background: #dddddd;
    clear: both;
    padding: 0 150px 0 150px;
    overflow: auto;

}

.footer {
    width: 100%;
    border-top: 8px solid #4aaaa5;
    background: #666666;
    text-align: center;
    

}

#p1 {text-align: center;
    line-height: 100%;

}

.hr { 
    display: block;
    padding: 1px;
    background:#777777;
    margin: 1px;
}

p {
    line-height: 150%;}

.pic{
    padding-right: 10px;
    float: left;
}

.topdiv{
    width: 960px;
    padding-left: 190px;
    
    
    
}

.line{
    border-bottom: solid 1px;
}

.box{
    border: solid 1px;
    box-sizing: border-box; 
    height: 30px;
}

.lgbox{
    border: solid 1px;
    height: 200px;
}

.button{
    background:#4aaaa5;
    padding: 10px;
    margin-right:850px;
    margin-top:10px;
    color:white;
    text-align: center;

}

.portbox{
    border: solid 1px;
    height: 250px;
    width: 300px;
    float: left;
    margin-right: 40px;
    margin-bottom: 40px;
    overflow: auto;

}
.insidebox{
    height: 50px;
    width: 100%;
    background: #4aaaa5;
    text-align: center;
    color: white;
    margin-top:150px;
    padding-top:30px;
    font-size: 150%;


}